<div class="content-body gray-box">
  <ul>
    <li data-hide-after="2025-10-21T22:00">
      <span class="only-in-index">Tirsdag på Solhaug: </span
      ><span class="datetime">21. okt kl 17:30</span>
    </li>
    <li data-hide-after="2025-11-04T22:00">
      <span class="only-in-index">Tirsdag på Solhaug: </span
      ><span class="datetime">4. nov kl 17:30</span>
    </li>
    <li data-hide-after="2025-11-18T22:00">
      <span class="only-in-index">Tirsdag på Solhaug: </span
      ><span class="datetime">18. nov kl 17:30</span>
    </li>
    <li data-hide-after="2025-12-02T22:00">
      <span class="only-in-index">Tirsdag på Solhaug (juleavslutning): </span
      ><span class="datetime">2. des kl 17:30</span>
    </li>
  </ul>
  <div data-hide-after="2026-01-13T22:00">
    <b>Jule- og nyttårspause!</b></br>
    Etter nyttår <b>flytter vi til Tønsberg Bibliotek.</b>
  </div>
  <h3 data-hide-after="2026-02-01">2026</h3>
  <div data-show-after="2026-01-13T22:00" data-hide-after="2026-03-01">
    <b>Tirsdagssamling er nå på Tønsberg Bibliotek.</b>
  </div>
  <ul>
    <li data-hide-after="2026-01-13T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">13. jan kl 17:00</span>
    </li>
    <li data-hide-after="2026-01-20T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">20. jan kl 17:00</span>
    </li>
    <li data-hide-after="2026-01-27T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">27. jan kl 17:00</span>
    </li>
    <li data-show-after="2025-10-21T22:00" data-hide-after="2026-02-03T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">3. feb kl 17:00</span>
    </li>
    <li data-show-after="2025-11-04T22:00" data-hide-after="2026-02-10T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">10. feb kl 17:00</span>
    </li>
    <li data-show-after="2025-11-18T22:00" data-hide-after="2026-02-17T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">17. feb kl 17:00</span>
    </li>
    <li data-show-after="2025-12-02T22:00" data-hide-after="2026-02-24T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">24. feb kl 17:00</span>
    </li>
    <li data-show-after="2026-01-13T22:00" data-hide-after="2026-03-03T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">3. mar kl 17:00</span>
    </li>
    <li data-show-after="2026-01-13T22:00" data-hide-after="2026-03-10T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">10. mar kl 17:00</span>
    </li>
    <li data-show-after="2026-01-20T22:00" data-hide-after="2026-03-17T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">17. mar kl 17:00</span>
    </li>
    <li data-show-after="2026-01-27T22:00" data-hide-after="2026-03-24T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">24. mar kl 17:00</span>
    </li>
    <li data-show-after="2026-02-03T22:00" data-hide-after="2026-03-31T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">31. mar kl 17:00</span>
    </li>
    <li data-show-after="2026-02-10T22:00" data-hide-after="2026-04-07T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">7. apr kl 17:00</span>
    </li>
    <li data-show-after="2026-02-17T22:00" data-hide-after="2026-04-14T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">14. apr kl 17:00</span>
    </li>
    <li style="list-style-type: none; text-align: center" data-hide-after="2026-02-17T22:00" class="only-in-index">
      <!-- For Tønsberg Tabletop, siden den vises alltid på forsiden.
      Hide-after gjør at dette forsvinner når datoen før TTT har kommet inn. -->
      <span class="datetime">&hellip;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </li>
    <li data-hide-after="2026-04-19T22:00">
      <span class="only-in-index">Tønsberg Tabletop: 17. apr til 19. apr</span>
    </li>
    <li data-show-after="2026-02-24T22:00" data-hide-after="2026-04-21T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">21. apr kl 17:00</span>
    </li>
    <li data-show-after="2026-03-03T22:00" data-hide-after="2026-04-28T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">28. apr kl 17:00</span>
    </li>
    <li data-show-after="2026-03-10T22:00" data-hide-after="2026-05-05T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">5. mai kl 17:00</span>
    </li>
    <li data-show-after="2026-03-17T22:00" data-hide-after="2026-05-12T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">12. mai kl 17:00</span>
    </li>
    <li data-show-after="2026-03-24T22:00" data-hide-after="2026-05-19T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">19. mai kl 17:00</span>
    </li>
    <li data-show-after="2026-03-31T22:00" data-hide-after="2026-05-26T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">26. mai kl 17:00</span>
    </li>
    <li data-show-after="2026-04-07T22:00" data-hide-after="2026-06-02T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">2. jun kl 17:00</span>
    </li>
    <li data-show-after="2026-04-14T22:00" data-hide-after="2026-06-09T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">9. jun kl 17:00</span>
    </li>
    <li data-show-after="2026-04-21T22:00" data-hide-after="2026-06-16T22:00">
      <span class="only-in-index">Tirsdag på biblioteket: </span
      ><span class="datetime">16. jun kl 17:00</span>
    </li>
    <li data-show-after="2026-04-28T22:00" data-hide-after="2026-08-10T22:00">
      <b>Sommerferie!</b>
    </li>
    <!-- Vises alltid, for å si at flere datoer kommer -->
    <li style="list-style-type: none; text-align: center">
      <span class="datetime">&hellip;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </li>
  </ul>
</div>
