<div class="content-body gray-box">
  <h1>Typisk Timeplan</h1>
  <table>
    <tr>
      <th>Tid</th>
      <th>Hva skjer?</th>
    </tr>
    <tr>
      <td>Fredag 13:00-23:00</td>
      <td>Frilek og rigging.</td>
    </tr>
    <tr>
      <td>Lørdag 09:00-10:00</td>
      <td>Registering for turneringer</td>
    </tr>
    <tr>
      <td>Lørdag 10:00-13:00</td>
      <td data-start="2025-10-21T10:00" data-end="2025-10-21T13:00">Kamp 1</td>
    </tr>
    <tr>
      <td>Lørdag 13:30-16:30</td>
      <td data-start="2025-10-21T13:30" data-end="2025-10-21T16:30">Kamp 2</td>
    </tr>
    <tr>
      <td>Lørdag 16:30-17:30</td>
      <td data-start="2025-10-21T16:30" data-end="2025-10-21T17:30">
        Pause og pizza!
        <img
          src="/images/giant-pepperoni-pizza-blanket-600x601.png"
          width="50"
          style="vertical-align: middle"
        />
      </td>
    </tr>
    <tr>
      <td>Lørdag 17:30-20:30</td>
      <td data-start="2025-10-21T17:30" data-end="2025-10-21T20:30">Kamp 3</td>
    </tr>
    <tr>
      <td>Lørdag ca 21:00</td>
      <td
        data-start="2025-10-21T21:00"
        data-end="2025-10-21T22:00"
        data-countdown-title="Avslutning"
      >
        Avslutning m/premie til vinnerne
      </td>
    </tr>
  </table>
</div>
