<div class="partners-wrapper">
  <div class="partners">
    <div class="partner-box gray-box flex-center">
      <a href="https://www.tabletopbattle.no/"
        ><img src="/images/tabletopbattle.png" alt="Tabletop Battle"
      /></a>
    </div>
    <div class="partner-box gray-box flex-center">
      <a href="https://www.outland.no/butikker/tonsberg"
        ><img src="/images/outland.png" alt="Outland"
      /></a>
    </div>
    <div class="partner-box gray-box flex-center">
      <a href="https://www.togbutikken.no"
        ><img src="/images/togbutikken.png" alt="Togbutikken"
      /></a>
    </div>
  </div>
</div>
