<div class="header-wrapper">
  <!-- Translation buttons -->
  <div class="flags">
    <img
      id="flag-en"
      class="flag"
      width="30em"
      src="/images/flag-en.svg"
      alt="English"
    />
    <img
      id="flag-no"
      class="flag"
      width="30em"
      src="/images/flag-no.svg"
      alt="Norwegian"
    />
  </div>

  <div class="logo-box gray-box flex-center">
    <a href="index.html"><img src="/images/logo_small.png" alt="Logo" /></a>
  </div>
  <div class="title-box gray-box flex-center">
    <h1>Slottsfjellet Spillforening</h1>
  </div>
</div>
