<header class="main-nav">
  <div class="main-nav__utility">
    <div class="flags">
      <img
        id="flag-en"
        class="flag"
        width="30"
        src="/images/flag-en.svg"
        alt="English"
      />
      <img
        id="flag-no"
        class="flag"
        width="30"
        src="/images/flag-no.svg"
        alt="Norwegian"
      />
    </div>
  </div>

  <div class="main-nav__inner">
    <div class="logo">
      <a href="index.html">
        <img src="/images/logo_small.png" alt="Slottsfjellet Spillforening" />
      </a>
    </div>

    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link-home" href="index.html">Hjem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link-tirsdag" href="tirsdag.html">Tirsdager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link-ttt" href="ttt.html">Tønsberg Tabletop</a>
      </li>

      <li class="nav-item dropdown">
        <a href="#">Spilltyper ▼</a>
        <div class="dropdown-content">
          <a class="nav-link-boardgames" href="boardgames.html">Brettspill</a>
          <a class="nav-link-rpg" href="rpg.html">Rollespill (TTRPG)</a>
          <a class="nav-link-miniaturegames" href="miniaturegames.html"
            >Miniatyrspill</a
          >
          <a class="nav-link-tradingcardgames" href="tradingcardgames.html"
            >Samlekort (TCG)</a
          >
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link-about" href="about.html">Om klubben</a>
      </li>
      <li class="nav-item">
        <a
          href="https://discord.gg/N3MX5SHGZ8"
          class="btn-primary nav-btn"
          target="_blank"
          rel="noopener"
          >Discord</a
        >
      </li>
    </ul>
  </div>
</header>
