<!-- Quick Info -->
<div class="info-box">
  <div class="content-header gray-box">
    <h3>Om oss</h3>
  </div>
  <div class="content-body gray-box">
    <p>
      Vi er en gjeng med spillinteresserte fra Tønsberg og omegn som ønsker å
      bygge et aktivt miljø for likesinnede. Vi spiller brettspill,
      miniatyrspill, kortspill og rollespill.
    </p>
    <ul>
      <li>
        <a href="https://discord.gg/N3MX5SHGZ8">Discord kanalen vår</a>
      </li>
      <li>
        <a
          href="https://calendar.google.com/calendar/u/0?cid=cG9zdEBzbG90dHNmamVsbGV0Lm9yZw"
          >Google kalenderen vår</a
        >
      </li>
      <li>
        <a
          href="https://slottsfjellet.portal.styreweb.com/arrangement/ArrangementSession?ID=Innmelding"
          >Bli medlem</a
        >
      </li>
    </ul>
    <p>Klubben har to hovedprosjekter gående:</p>
    <ul>
      <li>
        <a href="tirsdag.html">Tirsdagsamlinger (annenhver tirsdag)</a>
      </li>
      <li><a href="ttt.html">Tønsberg tabletop (halvårlig)</a></li>
    </ul>
  </div>
</div>
