{% # Navigation bar for all pages -%}
<ul class="nav">
  <li class="nav-item gray-box index-link"><a href=".">Forside</a></li>
  <li class="nav-item gray-box boardgames-link">
    <a href="boardgames.html">Brettspill</a>
  </li>
  <li class="nav-item gray-box rpg-link">
    <a href="rpg.html">Rollespill</a>
  </li>
  <li class="nav-item gray-box tirsdag-link">
    <a href="tirsdag.html">Tirsdagssamlinger</a>
  </li>
  <li class="nav-item gray-box ttt-link">
    <a href="ttt.html">Tønsberg Tabletop</a>
  </li>
  <li class="nav-item gray-box about-link">
    <a href="about.html">Om foreningen</a>
  </li>
  <li class="nav-item gray-box">
    <a target="_blank" rel="noopener" href="https://discord.gg/N3MX5SHGZ8"
      >Discord</a
    >
  </li>
  <li class="nav-item gray-box">
    <a
      target="_blank"
      rel="noopener"
      href="https://slottsfjellet.portal.styreweb.com/arrangement/ArrangementSession?ID=Innmelding"
      >Bli medlem</a
    >
  </li>
</ul>
