body {
		font-family: Courier New;
		background: black;
		
		background-size: 100% 400%;
}

p {
	width: 100%;
	max-width: 1150px;
	text-align: left;
	padding: 1%;
	margin: auto;
	background-image: linear-gradient(45deg, lightyellow, lightskyblue);
	
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 5px;
	
}

/*
a {
	color: #756F05;
}

a:visited {
	color: #7D7604;
} 
*/

div {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	margin: auto;
	
}

table {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	margin: auto;
	
}

th { 
	background: #dcdcdc;
	border-top: 1px;
	border-left: 1px;
	border-right: 3px;
	border-bottom: 3px;
	border-radius: 5px;
}

td { 
	background: #dcdcdc;
	padding: 3px;
	border-top: 1px;
	border-left: 1px;
	border-right: 3px;
	border-bottom: 3px;
	border-radius: 5px;
}

text {
	
}

h1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 5px;
	text-align: center;
}

h2 {
	max-width: 1200px;
	margin: auto;
	padding: 5px;
	text-align: center;
}

h3 {
	max-width: 1200px;
	margin: auto;
	padding: 5px;
	text-align: center;
}

h4 {
	max-width: 1200px;
	margin: auto;
	padding: 5px;
	text-align: center;
}

img {
	max-width: 251px;
	max-height: 344px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.proxies {
	max-width: 251px;
	max-height: 344px;
}

footer {
	padding: 2px; 
	max-width: 1150px;
  	width: 100%;
  	margin-left: auto;
	margin-right: auto;
	position: fixed;
	background-image: linear-gradient(45deg, lightyellow, lightskyblue);
	bottom: 0;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 5px;
}

.welcome {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.info {
	max-width: 300px;
}