<div class="content-body gray-box">
  <h1>Tønsberg Tabletop Høsten 2025</h1>

  <h2>
    På grunn av uventet stor pågang må vi begrense antallet deltagere på årets
    turneringer. Vi jobber med å finne en løsning, men vi var rett og slett ikke
    forberedt på denne mengden interesse.
  </h2>

  <p>
    Høstens store samling nærmer seg.
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScseWTXuURYE3Bpu9Nj1LvFBB3UuKBrip1ZpgZBE5Emm0gjPA/viewform?usp=sharing&ouid=109980531976088935256"
      >Påmelding her.</a
    >
  </p>
  <ul>
    <li>Samlingen vil være den 17. (fra kl 13) og 18. oktober (fra kl 9).</li>
    <li>Det koster 250 kr for arrangementet og 100 kr for å turnere.</li>
    <li>Vi kjører to turneringer: Warhammer 40k og Warhammer Old World.</li>
    <li>
      Turneringene krever en hær på 2000pts og vi spiller 3 kamper på lørdagen.
    </li>
    <li>Det er fritt spill på fredagen.</li>
    <li>Det blir satt opp bord for de som vil male.</li>
    <li>
      Så langt vi har kapasitet blir det også satt opp bord for de som ønsker å
      spille andre spill. Her vil det være prioritet for de som spiller
      miniatyrspill, men annet er selvsagt også lov så lenge det er plass!
    </li>
    <li>Vi tar opp en felles bestilling av pizza underveis.</li>
  </ul>
</div>
