<div class="content-body gray-box">
  <h2>Tønsberg Tabletop Høsten 2025 er ferdig</h2>

  <p>
    Tusen takk til alle som kom på Tønsberg Tabletop Høsten 2025! Det ble en
    kjempefin helg med mange kamper, mye maling og god stemning. Vi hadde 36 som
    deltok i turneringen, og er nå nest største Old World tournament i Norge
    etter Invasion. Vi håper å se dere igjen på neste Tønsberg Tabletop, som
    blir fredag 17. og lørdag 18. april 2026 (med en sjanse for at vi gjør noe
    på søndagen også). Som vanlig blir hovedturneringen på lørdag. Følg med på
    <a href="ttt.html">Tønsberg Tabletop-siden</a> for mer informasjon.
  </p>
  <p>
    Vi tar gjerne tilbakemeldinger på arrangementet, både ris og ros. Vi har et
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScWjxav1H4nE3CFcKO9-CA1bz2q4Uk6-zKNQwq3sml0RzfDLQ/viewform?usp=sharing&ouid=109980531976088935256"
      >tilbakemeldingsskjema</a
    >
    for å gjøre det enkelt, eller du kan sende epost til
    <a href="mailto:post@slottsfjellet.no">post@slottsfjellet.no</a>.
  </p>
</div>
