<div class="content-body gray-box">
  <ul>
    <li>
      <del><span class="only-in-index">Tirsdag </span>12. aug</del>
    </li>
    <li>
      <del><span class="only-in-index">Tirsdag: </span>26. aug</del>
    </li>
    <li>
      <del><span class="only-in-index">Tirsdag: </span>9. sep</del>
    </li>
    <li>
      <del><span class="only-in-index">Tirsdag: </span>23. sep</del>
    </li>
    <li>
      <del><span class="only-in-index">Tirsdag: </span>7. okt</del>
    </li>
    <li class="only-in-index">
      Tønsberg Tabletop:<br />17. okt fra kl 13<br />18. okt fra kl 9<br />(<a
        href="https://docs.google.com/forms/d/e/1FAIpQLScseWTXuURYE3Bpu9Nj1LvFBB3UuKBrip1ZpgZBE5Emm0gjPA/viewform?usp=sharing&ouid=109980531976088935256"
        >påmelding</a
      >)
    </li>
    <li>
      <span class="only-in-index">Tirsdag: </span
      ><span class="datetime">21. okt kl 17:30</span>
    </li>
    <li>
      <span class="only-in-index">Tirsdag: </span
      ><span class="datetime">4. nov kl 17:30</span>
    </li>
    <li>
      <span class="only-in-index">Tirsdag: </span
      ><span class="datetime">18. nov kl 17:30</span>
    </li>
    <li>
      <span class="only-in-index">Tirsdag: </span
      ><span class="datetime">3. des kl 17:30</span>
    </li>
  </ul>
</div>
