<div class="content-body gray-box">
  <h1>Tønsberg Tabletop Høsten 2025</h1>

  <h2>Vi har startet!</h2>
  <b>
    Vi er på Solhaug nå! I dag (fredag 17.) er det fritt spill (fra nå til
    sent), og i morgen (lørdag 18.) er det turneringer, oppmøte kl 9.
  </b>

  <!-- <p>
    Høstens store samling nærmer seg.
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScseWTXuURYE3Bpu9Nj1LvFBB3UuKBrip1ZpgZBE5Emm0gjPA/viewform?usp=sharing&ouid=109980531976088935256"
      >Påmelding her.</a
    >
  </p> -->
  <ul>
    <li class="only-in-index">
      <b
        >Se siden for <a href="ttt.html">Tønsberg Tabletop</a> for nøyaktig
        timeplan!</b
      >
    </li>
    <li>
      Sted:
      <a href="https://maps.app.goo.gl/PTaik9NT4i6ZKjv57"
        >Solhaug, Tolvsrødveien 24, 3112 Tønsberg</a
      >.
    </li>
    <li>Pris: 250 kr for arrangementet, pluss 100 kr hvis du vil turnere.</li>
    <li>
      Vi kjører to turneringer: Warhammer 40k og Warhammer Old World.
      Turneringene går på lørdag, krever en hær på 2000pts og vi spiller tre
      kamper.
    </li>
    <li>
      Utenom Warhammer-bordene er det bord for å male og for å spille andre
      spill. Bord for dette er tilgjengelig hele fredag og fra 10:00 på lørdag.
      Her vil det være prioritet for de som spiller miniatyrspill, men så lenge
      det er plass er annet er selvsagt også lov!
    </li>
    <li>På lørdag tar vi opp en felles bestilling av pizza.</li>
  </ul>
  <h2>
    Det er noen få restplasser til turneringene. Ring Daniel på
    <span class="datetime"
      ><a href="tel:+47 41 61 16 86">+47 41 61 16 86</a></span
    >
    for å høre om det er plass!
  </h2>
</div>
